/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  position: relative;
  text-align: center;
  color: white;
}

header .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

header .header-text {
  z-index: 3;
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

header p {
  font-size: 1.5rem;
  font-weight: lighter;
}

header img {
  width: 100%;
  height: auto;
}

.hero-buttons {
  z-index: 3;
}

.hero-buttons .button {
  background-color: #fcbf49;
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: 0.5rem;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.hero-buttons .button:hover {
  background-color: #d49d37;
}

.opening-hours {
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 8px;
}

.opening-hours h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.opening-hours table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.opening-hours table th, .opening-hours table td {
  padding: 15px;
  border: 1px solid #ddd;
}

.opening-hours table th {
  background-color: #fcbf49;
  color: white;
  font-weight: bold;
}

.opening-hours table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.opening-hours table tr:hover {
  background-color: #d9d9d9;
}

main {
  padding: 2rem;
  background-color: #ffffff;
  margin: 0 2rem;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #004b5c;
  color: white;
}

footer p {
  margin: 0;
  font-size: 1rem;
}
